<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-fileinput.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center">
        <h2 class="center-block" style="margin-bottom: 20px;">处理结果</h2>
        <img id='picImg' style="max-width: 30%;max-height: 15%;" class="center-block" src="/static/result/dlrb.jpg" alt="" />

        <div class="container" style="width: 60%;">
        <hr>
            <table class="table">
                <thead>
                    <th class="text-center">predict</th>
                    <th class="text-center">percentage</th>
                    <th class="text-center">AQ</th>
                </thead>
                <tbody>
                    {% for line in data %}
                        <tr>
                            <td>{{ line.predict }}</td>
                            <td>{{ line.percentage }}</td>
                            <td>{{ line.AQ }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

</body>
</html>